
/* GRAVITY FORMS */
body .gform-theme--framework.gform-theme.gform_wrapper,
body .gform_wrapper,
body[data-form-submit=regular] .gform_wrapper,
body[data-form-submit=regular] .container-wrap .gform_wrapper.gform-theme--foundation {
  position: relative;
  margin-bottom: 0;
  .gform_heading {
    display: none;
  }
  .gform_validation_errors{
    margin-bottom: 16px;;
    > h2 {
      font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px !important;
      line-height: 1.4;
    }
    >ol {
      margin: 0;
    }
  }
  .validation_message {
    padding: 8px !important;
    font-size: 12px;
  }

  .gfield {
    position: relative;

    .gfield_label {
      margin-top: 0 !important;
      font-weight: 400 !important;
      text-transform: uppercase;
      letter-spacing: normal !important;
      line-height: 1.3!important;
      .gfield_required {
        color: $primary-color !important;
        font-style: normal;
      }
      position: absolute;
      top: 16px;
      left: 24px;
      font-size: 15px;
      pointer-events: none;
      transition: 0.2s ease;
      &.focused {
        top: 3px;
        font-size: 12px;
        opacity: 1;
        background: inherit;
      }
    }

    .ginput_container {
      input,
      select,
      textarea {
        padding-top: 22px !important;
      }
    }
  }

  input[type=color],
  input[type=date],
  input[type=datetime-local],
  input[type=datetime],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  select,
  textarea {
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 100px !important;
    border: 1px solid #7C7C7C !important;
    block-size: auto !important;
    padding: 22px 24px 10px !important;
    line-height: 1.2 !important;
    background-color: transparent !important;
    &:focus {
      box-shadow: none;
    }
  }
  select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 24px center;
    background-size: 20px;
  }
  textarea {
    border-radius: 21px !important;
  }

  ::placeholder {
    color: #E0E0E0 !important;
    opacity: 1;
  }

  .gform_footer {
    width: 100%;
    margin-top: 24px !important;
    padding-top: 0;
    padding-bottom: 0;
    input:is([type=submit]),
    button[type=button],
    button[type=submit],
    input[type=submit] {
      font-family: 'Gotham';
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      display: inline-flex;
      padding: 14px 57px !important;
      font-size: 18px !important;
      margin: 0 !important;
      color: $white !important;
      border: 2px solid $primary-color;
      background-color: $primary-color !important;
      transition: all .45s cubic-bezier(.25,1,.33,1) !important;
      border-radius: 100px !important;
      &:hover {
        background-color: transparent !important;
        color: $primary-color !important;
        opacity: 1;
      }
    }
  }

}