body {
  #header-outer {
    &.transparent,
    &.side-widget-open {
      background-color: transparent;
      #top {
        .slide-out-widget-area-toggle {
          .close-line {
            background-color: #ffffff;
          }
        }
      }
    }
    #top {
      .slide-out-widget-area-toggle {
        padding-right: 3px;
        transform: scale(1.3);
        .lines:after,  .lines:before, .lines-button:after {
          border-radius: 5px;
          width: 22px !important;
        }
        > div {
          > a {
            > span {
              width: 32px !important;
            }
          }
        }
        .menu-push-out {
          .lines:after,  .lines:before, .lines-button:after {
              transform: translateX(32px) !important;
          }
        }
      }
      #mobile-menu {
        .inner {
          overflow: visible;
          .menu-items-wrap {
            > ul {
              > li {
                > a {
                  text-transform: uppercase;
                  letter-spacing: 1.6px;
                  font-family: "aktiv-grotesk" !important;
                }
                > .sub-menu {
                  padding-bottom: 12px;
                  > li {
                    > a {
                      font-size: 14px !important;
                      padding: 12px 0 !important;
                      font-family: "aktiv-grotesk" !important;
                    }
                  }
                }
              }
              > li:last-child {
                display: block;
                a {
                  display: block;
                  white-space: nowrap;
                  transition: all 0.45s ease;
                  font-family: "aktiv-grotesk";
                  &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    top: 0;
                    transform: translateX(-50%);
                    width: 100vw;
                    height: 100%;
                    background-color: $primary-color !important;
                    z-index: -1;
                  }
                }
              }
            }
            > ul:not(.nectar_widget)>li:not(:last-child):not(:first-child):before {
              background-color: rgb(136 136 136 / 50%);
            }
          }
        }
      }
      .col.span_3 {
        @include sm_desktop {
          #logo {
            img {
              max-height: 27px;
            }
          }
        }
      }
      .col.span_9 {
        nav {
          > ul {
            > li {
              > a {
                transition: all 0.45s ease;
                white-space: nowrap;
                font-family: "aktiv-grotesk" !important;
                span:after {
                  max-width: 40%;
                  border-color: $primary-color !important;
                  bottom: -2px;
                }
                i {
                  color: $primary-color !important;
                }
                @include sm_desktop {
                  font-size: 15px !important;
                }
              }
              > ul {
                background-color: rgba(12, 13, 14, 0.85) !important;
                width: auto;
                padding: 8px 15px 12px;
                > li {
                  > a {
                    white-space: nowrap;
                    font-family: "aktiv-grotesk" !important;
                    span:after {
                      max-width: 40%;
                      background-color: $primary-color !important;
                      bottom: -2px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}