$primary-color:#E31937;
$secondary-color:#0C0D0E;
$tertiary-color:#ffffff;
$grey:#2D2926;
$grey-20:#B8B2AB;
$white:#fff;
$teal-50:#9EB7B8;

$brand-yellow: #F2B844;
$brand-red: #E31937;
$brand-red-bright: #ED2C39;
$brand-teal: #53A8A8;
$brand-teal-bright: #36B1B1;
$brand-blue: #467583;
$brand-blue-alt: #357F96;
$brand-navy: #405464;
$brand-navy-bright: #5B788F;
$brand-dark: #221F20;
$brand-dark-alt: #2A506F;