.posts-container {
  article {
    div.post-content-wrap {
      div.post-header {
        h3 {
          a {
            font-weight: 600;
            font-family: clarendon-text-pro, serif;
          }
        }
      }
    }
  }
}
#sidebar {
  #block-4.widget {
    margin-bottom: 10px !important;
  }
  .widget {
    margin-bottom: 45px !important;
    h2.wp-block-heading {
      line-height: 40px !important;
      font-weight: 600 !important;
      font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}
.post-content {
  .content-inner {
    img {
      border-radius: 10px;
    }
  }
}
.wp-block-latest-posts__list.has-dates.wp-block-latest-posts {
  a.wp-block-latest-posts__post-title {
    font-weight: 500 !important;
  }
  li {
    img {
      border-radius: 6px;
    }
  }
  .wp-block-latest-posts__featured-image {
    img {
      border-radius: 10px;
    }
  }
}
.single {
  .heading-title {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .heading-title[data-header-style="default_minimal"] {
    .meta-category {
      a {
        border-color: #53a8a8 !important;
        color: #53a8a8 !important;
      }
    }
  }
}
.blog-content {
  h2 {
    font-weight: 600 !important;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 15px;
  }
  h4 {
    font-weight: 600 !important;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  img {
    border-radius: 10px;
  }
  p {
    a {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
.heading-title {
  h1.entry-title {
    max-width: 900px;
  }
}
#BlogContent {
  margin-bottom: 15px;
}
div.container-wrap {
  > div {
    > div.row.heading-title.hentry {
      > div {
        > span {
          padding-left: 0px !important;
        }
      }
    }
  }
}
#block-9.widget {
  margin-bottom: 10px !important;
}
#block-8 {
  p {
    > a.tag-cloud-link {
      border-radius: 50px !important;
      border-color: #53a8a8 !important;
      background-color: #53a8a8 !important;
      color: #fff !important;
    }
  }
}
@media screen and (max-width: 999px) {
  .post-area {
    .post {
      .inner-wrap {
        .post-content {
          .content-inner {
            .container {
              max-width: 95% !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .blog-content {
    h2 {
      font-size: 25px !important;
    }
  }
  body[data-ext-responsive="true"].single-post {
    .heading-title[data-header-style="default_minimal"] {
      .section-title.blog-title {
        h1.entry-title {
          font-size: 40px !important;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .heading-title {
    .blog-title {
      text-align: left;
    }
  }
  body[data-ext-responsive="true"].single-post {
    .heading-title[data-header-style="default_minimal"] {
      .section-title.blog-title {
        h1.entry-title {
          max-width: 1000px;
          margin: 0 !important;
          font-size: 55px !important;
        }
      }
    }
  }
  .blog-content {
    img {
      margin-bottom: 25px !important;
      border-radius: 10px;
    }
  }
}
@media screen and (min-width: 1280px) {
  body[data-ext-responsive="true"].single-post {
    .heading-title[data-header-style="default_minimal"] {
      .section-title.blog-title {
        h1.entry-title {
          max-width: 1400px;
          font-size: 70px !important;
        }
      }
    }
  }
}
