.post-excerpt {
  margin-bottom: 40px;
}

.meta-date {
  font-size: 13px !important;
  color: gray !important;
  padding-left: 5px;
}

.post-featured-image {
  img {
    border-radius: 15px;
  }
}

.custom-a {
  a {
    color: white !important;
    text-decoration: none !important;

    &:hover {
      color: #53a8a8 !important;
      text-decoration: underline !important;
    }
  }
}

.posts-container {
  article {
    div.post-content-wrap {
      div.post-header {
        h3 {
          a {
            font-weight: 600;
            font-family: clarendon-text-pro, serif;
          }
        }
      }
    }
  }
}

#sidebar {
  #block-4.widget {
    margin-bottom: 10px !important;
  }

  .widget {
    margin-bottom: 45px !important;

    h2.wp-block-heading {
      line-height: 40px !important;
      font-weight: 600 !important;
      font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}

.post-content {
  .content-inner {
    img {
      border-radius: 10px;
      margin-top: 10px;
    }
  }
}

.wp-block-latest-posts__list.has-dates.wp-block-latest-posts {
  a.wp-block-latest-posts__post-title {
    font-weight: 500 !important;
  }

  li {
    img {
      border-radius: 6px;
    }
  }

  .wp-block-latest-posts__featured-image {
    img {
      border-radius: 10px;
    }
  }
}

.single {
  .heading-title {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    &[data-header-style="default_minimal"] {
      .meta-category {
        padding-left: 0px !important;

        a {
          border-color: #53a8a8 !important;
          border-width: 1px !important;
          color: #53a8a8 !important;
          font-weight: 400 !important;
          font-size: 16px !important;

          &:hover {
            background-color: #53a8a8 !important;
            color: #fff !important;
          }
        }
      }
    }
  }
}

.blog-content {
  h2 {
    font-weight: 600 !important;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 15px;
  }

  h4 {
    font-weight: 600 !important;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  img {
    border-radius: 10px;
  }

  p {
    a {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.heading-title {
  h1.entry-title {
    max-width: 900px;
  }
}

#BlogContent {
  margin-bottom: 15px;
}

div.container-wrap {
  > div {
    > div.row.heading-title.hentry {
      > div {
        > span {
          padding-left: 0px !important;
        }
      }
    }
  }
}

#block-9.widget {
  margin-bottom: 10px !important;
}

#block-8 {
  p {
    > a.tag-cloud-link {
      border-radius: 50px !important;
      border-color: #53a8a8 !important;
      background-color: #53a8a8 !important;
      color: #fff !important;
      padding: 0.5ch 1ch !important;
      font-size: 12px !important;
    }
  }
}

.no-padding {
  padding: 0px;
}

.blog-hero-heading {
  padding-left: 20px;
  border-left: 2.2px solid #e31937 !important;
}

.blog-filter-row {
  .row_col_wrap_12_inner.col.span_12.left {
    display: flex;
    gap: 20px;
  }
}

.fit-content-class {
  width: fit-content;
}

.hero-p {
  font-size: 24px;
}

// Media Queries
@media screen and (max-width: 999px) {
  .post-area {
    .post {
      .inner-wrap {
        .post-content {
          .content-inner {
            .container {
              max-width: 95% !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .blog-content {
    h2 {
      font-size: 25px !important;
    }
  }

  body[data-ext-responsive="true"].single-post {
    .heading-title[data-header-style="default_minimal"] {
      .section-title.blog-title {
        text-align: left !important;
        padding-left: 2.5%;
        padding-right: 2.5%;

        h1.entry-title {
          font-size: 40px !important;
        }
      }
    }
  }

 .single .heading-title[data-header-style="default_minimal"] .meta-category a {
  font-size: 13px !important;
}


  .blog-hero-heading {
    padding-left: 0px;
    border-left: 0px solid #e31937 !important;
  }

  .hero-p {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 1024px) {
  .heading-title {
    .blog-title {
      text-align: left;
    }
  }

  body[data-ext-responsive="true"].single-post {
    .heading-title[data-header-style="default_minimal"] {
      .section-title.blog-title {
        h1.entry-title {
          max-width: 1000px;
          margin: 0 !important;
          font-size: 55px !important;
        }
      }
    }
  }

  .blog-content {
    img {
      margin-bottom: 25px !important;
      border-radius: 10px;
    }
  }

    div.container-wrap > div > div.row.heading-title[data-header-style=default_minimal].hentry {
  padding-top: 80px !important;
}
.post-excerpt {
  margin-bottom: 60px;
}
}

@media screen and (min-width: 1280px) {
  body[data-ext-responsive="true"].single-post {
    .heading-title[data-header-style="default_minimal"] {
      .section-title.blog-title {
        h1.entry-title {
          max-width: 1400px;
          font-size: 70px !important;
        }
      }
    }
  }

}
