@import '../variables';
@import '../mixin';
@import '../forms';

.contact-page {
  &__hero {
    &.header-tansparent {
      > .row_col_wrap_12 {
        margin-top: 54px !important;
        @include sm_desktop {
          margin-top: 67px !important;
        }
        @include lg_desktop {
          margin-top: 80px !important;
        }
      }
    }
    > .row_col_wrap_12 {
      @include mobile {
        padding: 96px 0 !important;
      }
      @include tablet {
        padding: 96px 0 !important;
      }
      @include sm_desktop {
        padding: 100px 0 !important;
      }
      @include lg_desktop {
        padding: 120px 0 !important;
      }
    }
    h1 {
      @include mobile {
        margin-bottom: -12px !important;
      }
      @include tablet {
        margin-bottom: -18px !important;
      }
      @include sm_desktop {
        padding-top: 8px;
        line-height: 53px;
      }
      @include lg_desktop {
        padding-top: 10px;
        line-height: 65px;
      }
    }
    .hero-text {
      font-size: 16px;
      line-height: 1.59;
      @include tablet {
        font-size: 18px;
      }
      @include sm_desktop {
        font-size: 28px;
      }
      @include lg_desktop {
        font-size: 30px;
      }
    }
  }
  &__get-in-touch {
    @include desktop {
      > .row-bg-wrap {
        .inner-wrap {
          .row-bg:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 68vw;
            max-width: 1312px;
            height: 15px;
            transform: translateX(-50%);
            background-color: $primary-color !important;
          }
        }
      }
    }
    .form-box {
      .column-bg-overlay,
      > .vc_column-inner {
        border-radius: 26px;
        h2 {
          position: relative;
          padding-bottom: 24px !important;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 0px;
            width: 100px;
            height: 1px;
            background-color: $primary-color !important;
            @include desktop {
              right: auto;
              margin: 0;
            }
          }
        }
        .wpb_text_column {
          strong {
            font-family: "aktiv-grotesk";
            font-size: 18px;
            letter-spacing: 1.287px;
            @include desktop {
              font-size: 20px;
            }
          }
        }
        @include tablet {
          border-radius: 32px;
        }
        @include sm_desktop {
          border-radius: 48px;
          .gform_wrapper {
            padding-top: 24px;
          }
        }
        @include lg_desktop {
          border-radius: 54px;
        }
      }
    }
  }
  &__offices-info {
    .row-bg-wrap {
      .inner-wrap {
        .row-bg {
          &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 100vw;
            height: 7px;
            background-color: $brand-teal !important;
            @include desktop {
              height: 15px;
              width: 68vw;
            }
          }
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100vw;
            height: 7px;
            background-color: $primary-color !important;
            @include desktop {
              width: 68vw;
              height: 15px;
            }
          }
          background-size: auto;
          img {
            object-fit: none;
          }
        }
      }
    }
    > .row_col_wrap_12 {
      padding: 40px 0 80px !important;
      @include tablet {
        padding: 80px 0 96px !important;
      }
      @include sm_desktop {
        padding: 120px 0 !important;
      }
      @include lg_desktop {
        padding: 144px 0 200px !important;
      }
      .kicker p {
        line-height: 1;
        margin-bottom: 0 !important;
        font-size: 21px;
        @include tablet {
          font-size: 26px;
        }
        @include sm_desktop {
          font-size: 28px;
        }
        @include lg_desktop {
          font-size: 32px;
        }
      }
      .location-area {
        color: $brand-teal !important;
        font-size: 17px;
        font-weight: 700;
        line-height: 182%;
        letter-spacing: 0.858px;
        padding-bottom: 16px;
        border-bottom: 1px solid $brand-teal;;
      }
      .location-address {
        p {
          padding-bottom: 10px !important;
          font-size: 15px;
          font-weight: 400;
          line-height: 1.82;
          letter-spacing: 1.018px;
          @include tablet {
            font-size: 16px;
          }
          @include sm_desktop {
            font-size: 18px;
          }
          @include lg_desktop {
            font-size: 20px;
          }
          &.phone-links {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            @include lg_desktop {
              gap: 10px 20px;
            }
          }
          strong {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1.218px;
            @include tablet {
              font-size: 20px;
            }
            @include sm_desktop {
              font-size: 22px;
            }
            @include lg_desktop {
              font-size: 24px;
            }
          }
          a {
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-underline-position: from-font;
            @include tablet {
              font-size: 16px;
            }
            @include sm_desktop {
              font-size: 18px;
            }
            @include lg_desktop {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}