@import '../variables';
@import '../mixin';

[class*="fabric-and-frames__"] {
  .underlined-title {
    h2 {
      position: relative;
      padding-bottom: 24px !important;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 1px;
        background-color: $brand-yellow !important;
      }
    }
  }
  @include desktop {
    .force-desktop-text-align-center {
      .underlined-title h2 {
        &:after {
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
  .center {
    .underlined-title h2 {
      &:after {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
.fabric-and-frames {
  &__hero {
    &.header-transparent {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      > .row_col_wrap_12 {
        margin-top: 54px !important;
        @include sm_desktop {
          margin-top: 67px !important;
        }
        @include lg_desktop {
          margin-top: 80px !important;
        }
      }
    }
    > .row-bg-wrap {
      .inner-wrap {
        .row-bg:after {
          content: '';
          position: absolute;
          inset: 0;
          background: linear-gradient(180deg, rgb(12 13 14 / 50%) 0%, rgba(12, 13, 14, .5) 100%),
                      linear-gradient(0deg, rgb(12 13 14 / 90%) .18%, rgba(12, 13, 14, 0) 85%);
          @include desktop {
            background: linear-gradient(180deg, rgb(12 13 14 / 90%) 0%, rgba(12, 13, 14, 0) 50%),
                        linear-gradient(90deg, rgb(12 13 14 / 90%) .18%, rgba(12, 13, 14, 0) 85%);
          }
        }
      }
    }
    h1 {
      @include mobile {
        margin-bottom: -12px !important;
      }
      @include tablet {
        margin-bottom: -18px !important;
      }
      @include sm_desktop {
        padding-top: 8px;
        line-height: 1.25 !important;
      }
      @include lg_desktop {
        padding-top: 10px;
      }
    }
    .hero-text {
      font-size: 16px;
      line-height: 1.59;
      @include tablet {
        font-size: 18px;
      }
      @include sm_desktop {
        font-size: 28px;
      }
      @include lg_desktop {
        font-size: 30px;
      }
    }
  }
  &__brand-story {
    > .row-bg-wrap {
      .inner-wrap {
        &:before {
          content: '';
          position: absolute;
          right: 0%;
          left: 0%;
          top: 0;
          background-color: $brand-yellow !important;
          width: 100vw;
          height: 7px;
          z-index: 2;
          @include desktop {
            height: 15px;
            max-width: 1166px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &__seg-fabric,
  &__on-wall-treatments,
  &__pillar-wraps,
  &__media-backdrops,
  &__seat-covers{
    > .row-bg-wrap {
      .inner-wrap {
        &:before {
          content: '';
          position: absolute;
          left: 0%;
          bottom: 0;
          max-width: 1312px;
          background-color: $brand-yellow !important;
          width: 100vw;
          height: 7px;
          z-index: 2;
          @include desktop {
            height: 15px;
            width: 68vw;
          }
        }
      }
    }
    &:nth-child(even) {
      > .row-bg-wrap {
        .inner-wrap {
          &:before {
            right: 0;
            left: auto;
          }
        }
      }
      @include desktop {
        .dark-bg {
          &:before {
            right: auto;
            left: 0;
          }
        }
      }
    }
    @include touch_screen {
      > .row-bg-wrap {
        .inner-wrap {
          &:after {
            content: '';
            position: absolute;
            left: 0%;
            bottom: 0;
            z-index: 1;
            background: rgba(22, 26, 30, .85);
            width: 100vw;
            height: 100vh;
            z-index: 1;
          }
        }
      }
    }
    @include desktop {
      .dark-bg {
        &:before {
          content: "";
          position: absolute;
          width: 100vw;
          top: 0;
          bottom: 0;
          right: 0;
          background: rgba(22, 26, 30, .85);
          border-radius: 50px;
        }
      }
    }
  }
  &__contact-us,
  &__case-studies {
    @include desktop {
      > .row-bg-wrap {
        .inner-wrap {
          .row-bg {
            .row-bg-img {
              object-fit: contain;
            }
          }
        }
      }
    }
    .vc_col-sm-12 {
      .flickity-page-dots {
        bottom: -50px !important;
      }
    }
  }
  &__testimonial {
    .vc_column-inner{
      .column-bg-layer {
        .inner-wrap {
          .column-image-bg {
            background-size: contain !important;
            background-position: left center !important;
            background-repeat: no-repeat !important;
          }
        }
      }
    }
    h2 {
      font-family: clarendon-text-pro, serif;
      font-weight: 600 !important;
      line-height: 1.4 !important;
      letter-spacing: 0.8px;
      font-size: 24px !important;
      span {
        color: $brand-yellow;
      }
      @include sm_desktop {
        font-size: 32px !important;
      }
      @include lg_desktop {
        font-size: 40px !important;
      }
    }
  }
}