@import '../variables';
@import '../mixin';

.our-work {
  &__hero {
    &.header-transparent {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      > .row_col_wrap_12 {
        margin-top: 54px !important;
        @include sm_desktop {
          margin-top: 67px !important;
        }
        @include lg_desktop {
          margin-top: 80px !important;
        }
      }
    }
    > .row-bg-wrap {
      .inner-wrap {
        .row-bg:after {
          content: '';
          position: absolute;
          inset: 0;
          background: linear-gradient(180deg, rgb(12 13 14 / 50%) 0%, rgba(12, 13, 14, .5) 100%),
                      linear-gradient(0deg, rgb(12 13 14 / 90%) .18%, rgba(12, 13, 14, 0) 85%);
          @include desktop {
            background: linear-gradient(180deg, rgb(12 13 14 / 90%) 0%, rgba(12, 13, 14, 0) 50%),
                        linear-gradient(90deg, rgb(12 13 14 / 90%) .18%, rgba(12, 13, 14, 0) 85%);
          }
        }
      }
    }
    h1 {
      @include mobile {
        margin-bottom: -12px !important;
      }
      @include tablet {
        margin-bottom: -18px !important;
      }
      @include sm_desktop {
        padding-top: 8px;
        line-height: 53px;
      }
      @include lg_desktop {
        padding-top: 10px;
        line-height: 65px;
      }
    }
    .hero-text {
      font-size: 16px;
      line-height: 1.59;
      @include tablet {
        font-size: 18px;
      }
      @include sm_desktop {
        font-size: 28px;
      }
      @include lg_desktop {
        font-size: 30px;
      }
    }
  }
  &__gallery {
    .sgim__filters {
      background: #0C0D0E;
      padding: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      .sgim__filters-label {
        color: #FFF;
        font-size: 13px;
        font-weight: 700;
      }
      .sgim__select {
        border-radius: 6px;
        border: 1px solid #424242;
        background: #292929;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 24.091px; /* 150% */
        max-width: 320px;
      }
    }
  }
}